@import '~@fluentui/react/dist/sass/References.scss';

.container{
  margin: 10px;
}

.field {
  display:flex;
  flex-direction: column;

  label {
    padding-top: 10px;
    padding-bottom: 5px;;
    font-weight: bold;
  }

  label:before {
    content: '*';
    padding-right: 2px;
    color: red;
    margin-left: -10px;
  }

  input {
    border:  1px solid rgba(34,36,38,.15);
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  p {
    font-size: small;
    opacity: 0.5;
    margin: 0;
  }

  
}